@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000;
    --cor-secondaria: #FFF;
    --cor-terciaria: #22D4FD;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserra', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 700px;
    overflow: hidden;
}

.slides {
    width: 3200px; /* Corrigido: Largura total dos slides */
    height: 400px;
    display: flex;
    margin-top: 80px;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 90%;
    height: 110%; /* Alterando para altura de 100% */
    margin-top: 50px;
    margin-left: 40px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.manual-btn {
    border: 2px solid var(--cor-secondaria);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-bottom: -0px; /* Reduzindo a margem inferior */
}


#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%; /* Corrigido */
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--cor-secondaria);
}

.cabecalho {
    padding: 1.5% 0% 0% 8%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--cor-primaria);
    margin-left: 103px;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    font-family: var(--font-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    font-size: 1rem;
    text-decoration: none;
}
