:root {
    --cor-primaria: #000;
    --cor-secondaria: #FFF;
    --cor-terciaria: #22D4FD;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secondaria);
}

.cabecalho {
    padding: 1.5% 0% 0% 8%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--font-secundaria);
    font-weight: bold;
    color: var(--cor-terciaria);
    font-size: 1rem;
    text-decoration: none;
}

.skills-container {
    padding: 60px 80px;
}

h1 {
    color: var(--cor-secondaria);
    font-family: var(--font-primaria);
    font-size: 2rem;
    margin-bottom: 30px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-logo img {
    width: 40px;
    height: auto;
    margin-right: 15px;
}

.skill-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skill-bar {
    background-color: var(--cor-terciaria);
    height: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.skill-info p {
    color: var(--cor-secondaria);
    font-family: var(--font-secundaria);
}

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 0.5%;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1rem;
    font-weight: 400;
}


.skills-container {
    text-align: center;
}

.skills-row {
    display: flex;
    justify-content: space-around; /* Para distribuir igualmente */
    flex-wrap: wrap; /* Para permitir quebra de linha em telas menores */
    margin-top: 20px;
}

.skill {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.skill-logo img {
    max-width: 100px; /* Define um tamanho para os ícones */
    height: auto;
}

.skill-info {
    margin-top: 10px;
}

.skill-bar {
    height: 10px;
    background-color: #3498db;
    margin: 5px 0;
}



.skills-container {
    text-align: center;
}

.skills-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill {
    position: relative;
    width: 150px;
    margin: 10px;
    text-align: center;
}

.skill-logo img {
    max-width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

.skill-logo:hover img {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.skill-name {
    display: none;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}

.skill-logo:hover .skill-name {
    display: block;
}


@media (max-width: 800px) {
    .cabecalho {
        padding: 10% 5% 5% 5%; /* Ajuste o padding conforme necessário */
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 20px; /* Ajuste o espaçamento entre os links */
        flex-wrap: wrap; /* Adicione esta linha se quiser que os links quebrem para a linha seguinte em telas muito pequenas */
    }

    .cabecalho_menu_link {
        font-size: 0.9rem; /* Reduz o tamanho da fonte, se necessário */
        margin: 0 10px; /* Ajusta o espaçamento entre os links */
        margin-bottom: 10%;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 15% 5%;

        
    }

    .skills-container{
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: -8%;
        margin-bottom: 2%;
    }

    .apresentacao__conteudo{
        width: auto;
        margin-top: -30%;
    }

    .apresentacao__conteudo__paragrafo_01{
        margin-bottom: 10%;
    }

    .apresentacao__conteudo_about{
        width: auto;
    }

    .apresentacao_imagem{
        width: 70%;
        margin-top: -3%;
    }

    .apresentacao_imagem_inicio{
        width: 0%;
    }

    .botao_dowload_curriculo {
        width: 40%;
        margin: 0 auto; /* Centraliza o botão horizontalmente */
        display: block; /* Garante que o margin auto funcione */
    }


    .skills-row {
        justify-content: space-between; /* Distribui igualmente */
    }

    .skill {
        width: 30%; /* Ocupa um terço da largura */
        margin: 15px 0px; /* Espaçamento entre os itens */
    }

    .skill-logo {
        margin-left: 28%;
    }
}